* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  padding: 10px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 0 2rem 0;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 8px 16px;
  margin: 0 5px;
}

nav ul li a {
  color: #262626;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  margin: 2rem 0 0 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: gainsboro;
}

h6 {
  color: purple;
}